* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu {
  display: flex;
  gap: 34px;
  align-items: center;
  transition: right 0.4s ease;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 550;
  position: relative;
}

.menu a:hover,
.menu a.activeLink {
  color: #088178; /* text color green for hover and active */
}

.menu a:hover::after,
.menu a.activeLink::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.menu a:hover,
.activeLink {
  color: #088178;
}

.cart {
  color: #088178;
}

.mobile {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.closeIcon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 799px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: #e3e6e3;
    padding: 80px 30px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menuOpen {
    right: 0;
  }

  .mobile {
    display: block;
  }

  .closeIcon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
