* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(199, 191, 191);
  margin: 0 20px;
  gap: 1.5rem;
  padding: 20px;
}
